html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* background layer */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: url("image/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
}